.infor_booking_container {
    .infor_booking {
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        color: blueviolet;
        margin-top: 30px;
    }
}